/*=== Inspector Resizer ===*/
#inspectorPanel .resizer {
  position: relative;
  width: 13px;
  height: 100%;
  background-color: #373a3f;
  cursor: col-resize;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#inspectorPanel .resizer .handle {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 1.5px);
  width: 3px;
  height: 15px;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
}