/*=== Left Inspector Panel ===*/
#main .inspector {
  width: 30%;
  height: 100%;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main .inspector .topLeftArea {
  width: 100%;
  height: 305px;
  color: white;
}

/* Event Popup Area */
#main .inspector .topLeftArea .addEventPopup {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#main .inspector .topLeftArea .addEventPopup::-webkit-scrollbar {
  width: 8px;
}

#main .inspector .topLeftArea .addEventPopup::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 1em;
}

#main .inspector .topLeftArea .addEventPopup::-webkit-scrollbar-track {
  background: transparent;
}

#main .inspector .topLeftArea .addEventPopup .topArea {
  position: relative;
  width: 100%;
  display: flex;
  font-size: 1.35vw;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 66, 98);
}

#main .inspector .topLeftArea .addEventPopup .topArea .eventActionBtns {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

#main .inspector .topLeftArea .addEventPopup .topArea .eventActionBtns .confirmBtn span {
  font-size: 20px;
  color: rgb(62, 209, 62);
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.15s ease-in-out;
  padding: 5px;
}

#main .inspector .topLeftArea .addEventPopup .topArea .eventActionBtns .closeBtn span {
  font-size: 20px;
  color: rgb(255, 101, 101);
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  transition: 0.15s ease-in-out;
}

#main .inspector .topLeftArea .addEventPopup .topArea .eventActionBtns .confirmBtn span:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.611);
}

#main .inspector .topLeftArea .addEventPopup .topArea .eventActionBtns .closeBtn span:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.611);
}

#main .inspector .topLeftArea .addEventPopup .titleArea {
  width: calc(100% - 14px);
  display: flex;
  font-size: 1.35vw;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
}

#main .inspector .topLeftArea .addEventPopup .icon {
  font-size: 28px;
  margin-right: 10px;
}

#main .inspector .topLeftArea .addEventPopup .input {
  flex: 1;
  font-size: 16px;
  background-color: transparent;
  border-radius: 1em;
  color: rgb(216, 216, 216);
  padding: 3px 10px;
  border: 1px solid rgba(255, 255, 255, 0.653);
}

#main .inspector .topLeftArea .addEventPopup select {
  margin-right: 10px;
}

#main .inspector .topLeftArea .addEventPopup .catLocArea {
  width: calc(100% - 14px);
  display: flex;
  padding: 7px;
}

#main .inspector .topLeftArea .addEventPopup .catLocArea .catArea {
  flex: 1;
  display: flex;
  align-items: center;
}

#main .inspector .topLeftArea .addEventPopup .catLocArea .catArea select {
  width: 80%;
}

#main .inspector .topLeftArea .addEventPopup .catLocArea .locArea {
  flex: 1;
  display: flex;
  align-items: center;
}

#main .inspector .topLeftArea .addEventPopup .catLocArea .locArea input {
  width: 80%;
}

#main .inspector .topLeftArea .addEventPopup .datetimeArea {
  width: calc(100% - 14px);
  display: flex;
  padding: 7px;
}

#main .inspector .topLeftArea .addEventPopup .datetimeArea .startArea,
#main .inspector .topLeftArea .addEventPopup .datetimeArea .endArea
{
  flex: 1;
  display: flex;
  font-size: 1.35vw;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: center;
  align-items: center;
}

#main .inspector .topLeftArea .addEventPopup .datetimeArea .startArea input {
  margin-right: 10px;
}

#main .inspector .topLeftArea .addEventPopup .datetimeArea input {
  width: 80%;
}

#main .inspector .topLeftArea .addEventPopup .notesArea {
  width: calc(100% - 14px);
  padding: 7px;
  display: flex;
}

#main .inspector .topLeftArea .addEventPopup .notesArea textarea {
  border-radius: 0.5em;
}


#main .inspector .topLeftArea .qotd {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #1e1f22;
  justify-content: center;
  align-items: center;
}

#main .inspector .topLeftArea .qotd .footnote {
  position: absolute;
  left: 10px;
  top: 10px;
  color: rgb(101, 101, 101);
  font-style: italic;
  font-size: 12px;
}

#main .inspector .qotd .content {
  color: white;
  padding: 15px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 200%;
}

#main .inspector .focusAreaTabs {
  background-color: darkcyan;
  margin-right: 3em;
  height: 55px;
  display: none;
}

#main .inspector .focusAreaTabs .focusArea {
  flex: 1;
  border-top-right-radius: 1em;
}

/*=== Filter Area ===*/
#main .inspector .filters {
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #2b2d31;
}

#main .inspector .filters .itinSummary {
  display: flex;
  justify-content: flex-start;
}

#main .inspector .filters .itinSummary .item {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-size: 1vw;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 1em;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: 0.15s ease-in-out;
}

#main .inspector .filters .itinSummary .item .marker {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

#main .inspector .filters .itinSummary .item .label {
  margin: 0 5px;
}

#main .inspector .filters .itinSummary .item .amount {
  color: rgb(219, 219, 219);
  margin-left: 2px;
}

#main .inspector .filters .itinSummary .item:hover {
  background-color: rgb(111, 111, 111);
  border-color: rgb(111, 111, 111);
}

#main .inspector .filters .right .addEventPopup {
  color: rgb(160, 160, 160);
  font-weight: 600;
  font-size: 1.2vw;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 1em;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: 0.15s ease-in-out;
}

#main .inspector .filters .right .addEventBtn {
  color: rgb(160, 160, 160);
  font-weight: 600;
  font-size: 1.2vw;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 1em;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: 0.15s ease-in-out;
}

#main .inspector .filters .right .addEventBtn:hover {
  color: rgb(196, 196, 196);
  background-color: rgba(105, 105, 105, 0.482);
  cursor: pointer;
}

#main .inspector .itinerary {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0;
  padding-top: 50px;
  row-gap: 30px;
  background-color: #2b2d31;
  overflow-y: scroll;

  /* Border added to give illusion that scrollbar doesn't stick to side. Padding moves items back to center (otherwise they're a bit off to the left due to border) */
  padding-left: 5px;
  border-right: 5px solid transparent;
}

#main .inspector .itinerary::-webkit-scrollbar {
  width: 8px;
}

#main .inspector .itinerary::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 1em;
}

#main .inspector .itinerary::-webkit-scrollbar-track {
  background: transparent;
}

#main .inspector .itinerary .item {
  width: 80%;
  position: relative;
  display: flex;
  flex-shrink: 0;
  border-radius: 1.3em;
  overflow: hidden;
  /* overflow: hidden; */
  transition: 0.15s ease-in-out;
}

#main .inspector .itinerary .item .moreBtn {
  cursor: pointer;
  color: #ababab;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: 0.15s ease-in-out color;
}

#main .inspector .itinerary .item .moreBtn:hover {
  color: #e1e1e1;
}

#main .inspector .itinerary .item .moreBtnPopup, #main .inspector .itinerary .item .editBtnPopup  {
  display: none;
  position: absolute;
  top: 32px;
  right: 12px;
  font-size: 18px;
  /* width: calc(100% - 154px); */ /* Depends on .left size (100px + 15px LR padding), then + 16px LR for padding */
}

#main .inspector .itinerary .item .editBtnPopup  {
  top: 10px;
}

#main .inspector .itinerary .item .moreBtnPopup.active, #main .inspector .itinerary .item .editBtnPopup.active {
  display: flex;
}

#main .inspector .itinerary .item .moreBtnPopup .inner, #main .inspector .itinerary .item .editBtnPopup .inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#main .inspector .itinerary .item .moreBtnPopup .inner .moreOptionBtn, #main .inspector .itinerary .item .editBtnPopup .inner .editOptionBtn  {
  padding: 5px;
  cursor: pointer;
  background-color: #575759;
  border-radius: 0.5em;
  margin-left: 5px;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out color;
}

#main .inspector .itinerary .item .moreBtnPopup .inner .moreOptionBtn:hover {
  background-color: rgb(113, 113, 116);
}

#main .inspector .itinerary .item .moreBtnPopup .inner .editBtn {
  color: rgb(135, 135, 135);
}

#main .inspector .itinerary .item .moreBtnPopup .inner .editBtn:hover {
  color: rgb(165, 165, 165);
}

#main .inspector .itinerary .item .moreBtnPopup .inner .deleteBtn, #main .inspector .itinerary .item .editBtnPopup .inner .cancelBtn {
  color: rgb(210 81 81);
}

#main .inspector .itinerary .item .moreBtnPopup .inner .deleteBtn:hover, #main .inspector .itinerary .item .editBtnPopup .inner .cancelBtn:hover  {
  color: rgb(211, 64, 64);
}

#main .inspector .itinerary .item .editBtnPopup .inner .confirmBtn {
  color: rgb(47, 212, 63);
}

#main .inspector .itinerary .item .editBtnPopup .inner .confirmBtn:hover {
  color: rgb(81, 210, 94);
}

#main .inspector .itinerary .item.active, #main .inspector .itinerary .item:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 10px 3px rgba(255, 255, 255, 0.3);
  animation: 5s itinCardHoverAnim infinite forwards;
}

#main .inspector .itinerary .item .left {
  width: 100px;
  padding: 15px;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main .inspector .itinerary .item input {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 16px;
  background-color: transparent;
  color: rgb(216, 216, 216);
  padding: 0px 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.653);
}

#main .inspector .itinerary .item input:focus {
  outline: none;
}

#main .inspector .itinerary .item .left input {
  width: 50px;
  text-align: center;
}

#main .inspector .itinerary .item .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Gloria Hallelujah", cursive;
  font-style: normal;
  line-height: 20px;
  color: gray;
  background-color: #44464b;
}

#main .inspector .itinerary .item .right input#itemTitleInput {
  width: calc(100% - 40px);
  padding-left: 0;
}

#main .inspector .itinerary .item .right .title {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-size: 20px;
}

#main .inspector .itinerary .item .right .location {
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
  color: rgb(223, 223, 223);
}

#main .inspector .itinerary .item .right .info {
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
  line-height: 17px;
  color: rgb(163, 163, 163);
}

#main .inspector .itinerary .item .right textArea#itemInfoInput {
  font-family: "Gloria Hallelujah", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
  line-height: 17px;
  color: rgb(163, 163, 163);
  width: calc(100% - 20px);
  height: calc(100% - 14px);
  padding-right: 10px;
  resize: none;
  background-color: transparent;
  border: none;
}

#main .inspector .itinerary .item .right textArea#itemInfoInput:focus {
  outline: none;
}

#main .inspector .itinerary .item .right textArea#itemInfoInput::-webkit-scrollbar {
  width: 8px;
}

#main .inspector .itinerary .item .right textArea#itemInfoInput::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 1em;
  transition: 0.15s ease-in-out; /* Doesn't seem to affect scrollbars :/ */
}

#main .inspector .itinerary .item .right textArea#itemInfoInput::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 126, 126);
}

#main .inspector .itinerary .item .right textArea#itemInfoInput::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes itinCardHoverAnim {
  0% {
    box-shadow: 0px 5px 5px 3px rgba(255, 255, 255, 0.3);
  }

  25% {
    box-shadow: 0px 7px 10px 7px rgba(255, 125, 125, 0.3);
  }

  50% {
    box-shadow: 0px 5px 5px 3px rgba(102, 255, 0, 0.463);
  }

  75% {
    box-shadow: 0px 7px 10px 7px rgba(60, 0, 255, 0.3);
  }

  100% {
    box-shadow: 0px 5px 5px 3px rgba(255, 255, 255, 0.3);
  }
}
