* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

body {
    width: 100%;
    height: 100vh;
}

#navToggleBtn {
    position: fixed;
    z-index: 2;
    margin: 15px;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
}

#navToggleBtn .rect {
    position: absolute;
    left: 0;
    width: 70px;
    height: 8px;
    background-color: #00C4FF;
    transition: 0.3s ease-in-out;
}

#navToggleBtn .rect:nth-child(1) {
    top: 21px;
}

#navToggleBtn .rect:nth-child(2) {
    top: 43px;
}

#navToggleBtn .rect.open:nth-child(1) {
    top: 31px;
    background-color: white;
    transform: rotate(225deg);
}

#navToggleBtn .rect.open:nth-child(2) {
    top: 31px;
    background-color: white;
    transform: rotate(-225deg);
}

#nav {
    transition: 0.3s ease-in-out;
    position: fixed;
    left: -20vw;
    height: 100%;
    width: 20vw;
    background-color: #3b4759;
}

#nav.open {
    left: 0;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #bebebe;
    border-radius: 1em;
    box-shadow: 0 5px 10px 10px #d9d9d9;
}

#main .resizer {
    position: relative;
    width: 8px;
    height: 100%;
    background-color: #787e87;
    cursor: col-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main .resizer .handle {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 2px);
    width: 3px;
    height: 15px;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
 }

#main .left {
    width: 30%;
    height: 100%;
    background-color: rgb(219, 206, 143);
}

#main .right {
    flex: 1;
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.57); */
}

#main .right .top {
    width: 100%;
    height: 100px;
    /* background-color: rgba(66, 118, 31, 0.57); */
}

#main .right .bottom {
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: #aeaeae; */
}

#main .right .bottom .header {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

#main .right .bottom .header .dayName {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    /* border: 1px solid rgb(216, 216, 216); */
}

#main .right .bottom .weekContainer {
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

#main .right .weekContainer .day {
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 10px;
}