* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

body {
    width: 100%;
    height: 100vh;
}

#navToggleBtn {
    position: fixed;
    z-index: 2;
    margin: 15px;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
}

#navToggleBtn .rect {
    position: absolute;
    left: 0;
    width: 70px;
    height: 8px;
    background-color: #00C4FF;
    transition: 0.3s ease-in-out;
}

#navToggleBtn .rect:nth-child(1) {
    top: 21px;
}

#navToggleBtn .rect:nth-child(2) {
    top: 43px;
}

#navToggleBtn .rect.open:nth-child(1) {
    top: 31px;
    background-color: white;
    transform: rotate(225deg);
}

#navToggleBtn .rect.open:nth-child(2) {
    top: 31px;
    background-color: white;
    transform: rotate(-225deg);
}

#nav {
    transition: 0.3s ease-in-out;
    position: fixed;
    left: -20vw;
    height: 100%;
    width: 20vw;
    background-color: #3b4759;
}

#nav.open {
    left: 0;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .left {
    flex: 3;
    margin: 5vw;
    margin-right: 2.5vw;
    height: calc(100% - 10vw);
    background-color: rgb(219, 206, 143);
}

#main .right {
    flex: 7;
    margin: 5vw;
    margin-left: 2.5vw;
    height: calc(100% - 10vw);
    background-color: rgba(0, 255, 255, 0.57);
}

#main .right  .top {
    width: 100%;
    height: 100px;
    background-color: rgba(66, 118, 31, 0.57);
}

#main .right  .bottom {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #11e651
}

#main .right  .bottom .header{
    width: 100%;
    height: 30px;
    background-color: #aae611;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

#main .right  .bottom .header .dayName{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#main .right .bottom .weekContainer {
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

#main .right  .weekContainer .day{
    border: 1px solid black;
    padding-left: 5px;
    padding-top: 5px;
}