/*=== Calendar Area ===*/
#main .calendar {
    flex: 1;
    height: 100%;
    background-color: #44464b;
}

#main .calendar .top {
    width: 100%;
    height: 100px;
}

#main .calendar .bottom {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

#main .calendar .bottom .header {
    width: 100%;
    height: 30px;
    background-color: #2c3034;
    color: rgb(206, 206, 206);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-bottom: 2px solid #888;
}

#main .calendar .bottom .header .dayName {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

#main .calendar .bottom .header .dayName:nth-child(6n),
#main .calendar .bottom .header .dayName:nth-child(7n) {
    color: #ffffff;
}

#main .calendar .bottom .dayDisplay {
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: 20%;
    overflow-y: scroll;
}

#main .calendar .dayDisplay .day {
    color: #FFFFFF;
}

#main .calendar .dayDisplay .day:is(:nth-child(7n + 6), :nth-child(7n + 7))/*:nth-child(-n + 35)*/ {
    background-color: #343639;
    color: rgb(202, 202, 202);
    border-color: rgb(157, 157, 157) !important;
}

#main .calendar .dayDisplay .day:is(:not(:nth-child(7n + 7)))/*:nth-child(-n + 35)*/ {
    border-right: 1px solid rgb(105, 105, 105);
}

#main .calendar .dayDisplay .day:is(:not(:nth-child(29), :nth-child(30), :nth-child(31), :nth-child(32), :nth-child(33), :nth-child(34), :nth-child(35))) {
    border-bottom: 1px solid rgb(105, 105, 105);
}


/* Event Marker */
#main .calendar .dayDisplay .day .eventRibbon {
    position: relative;
    z-index: 200;
    width: calc(100% - 28px);
    color: white;
    margin: 0 10px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    font-size: 15px;
    background-color: rgba(205, 205, 205, 0.1);
    justify-content: space-between;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(2) {
    margin-top: 27px;
}

#main .calendar .dayDisplay .day .eventRibbon:hover {
    background-color: rgba(126, 126, 126, 0.64);
}

#main .calendar .dayDisplay .day .eventRibbon .indicator {
    min-width: 7px;
    min-height: 7px;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: rgb(255, 94, 0);
    margin: 4px 5px 0 0;
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(1) .indicator {
    background-color: rgb(255, 94, 0);
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(2) .indicator {
    background-color: rgb(72, 255, 0);
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(3) .indicator {
    background-color: rgb(0, 229, 255);
}

#main .calendar .dayDisplay .day .eventRibbon .title {
    flex: 1;
    overflow-x: hidden;
    white-space: nowrap;
}

#main .calendar .dayDisplay .day .eventRibbon .time {
    color: rgb(168, 168, 168);
    margin-left: 3px;
}


#main .calendar .bottom .dayDisplay .day {
    position: relative;
}

#main .calendar .bottom .dayDisplay .day.selected {
    background-color: rgb(214, 196, 196);
}

#main .calendar .bottom .dayDisplay .day.selected .dayMarker {
    color: #5d5c5c
}

#main .calendar .bottom .dayDisplay .day .dayMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 3;
    top: 3.85px;
    right: 2px;
}

#main .calendar .bottom .dayDisplay .day .dayMarker.today {
    border-radius: 50%;
    background-color: rgb(255, 94, 0);
    color: #FFFFFF;
}

#main .calendar .bottom .dayDisplay .day .events {
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#main .calendar .bottom .dayDisplay .day .events .item {
    width: 90%;
    font-family: "Gloria Hallelujah", cursive;
    background-color: red;
    display: flex;
}

#main .calendar .bottom .dayDisplay .day .events .item .marker {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

#main .calendar .bottom .dayDisplay .day .events .item .label {
    margin: 0 5px;
}

#main .calendar .bottom .dayDisplay .day .events .item .amount {
    color: rgb(219, 219, 219);
    justify-self: flex-end;
}

#main .calendar .bottom .dayDisplay .day .events .item.gym .marker {
    background-color: #7EBD8B;
}

#main .calendar .bottom .dayDisplay .day .events .item.gym .label {
    color: #7EBD8B;
}