/*=== Calendar Area ===*/
#main .calendar {
    flex: 1;
    height: 100%;
    background-color: #44464b;
}

#main .calendar .top {
    width: 100%;
    height: 100px;
}

#main .calendar .bottom {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

#main .calendar .bottom .header {
    width: 100%;
    height: 30px;
    background-color: #2c3034;
    color: rgb(206, 206, 206);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-bottom: 2px solid #888;
}

#main .calendar .bottom .header .dayName {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

/* Saturday and Sunday headers will have a different text color */
#main .calendar .bottom .header .dayName:nth-child(6n),
#main .calendar .bottom .header .dayName:nth-child(7n) {
    color: #ffffff;
}

#main .calendar .bottom .dayDisplay {
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: 20%;
    overflow-y: scroll;
}

/* All days will have a bottom border */
#main .calendar .dayDisplay .day {
    position: relative;
    color: #FFFFFF;
    border-bottom: 1px solid rgb(105, 105, 105);
}

/* All day elements that is not sunday will have a right border */
#main .calendar .dayDisplay .day:is(:not(:nth-child(7n + 7))) {
    border-right: 1px solid rgb(105, 105, 105);
}

/* Sunday and Saturday will have different background & border color */
#main .calendar .dayDisplay .day:is(:nth-child(7n + 6), :nth-child(7n + 7)) {
    background-color: #343639;
    color: rgb(202, 202, 202);
    border-color: rgb(157, 157, 157) !important;
}

#main .calendar .bottom .dayDisplay .day.selected {
    background-color: rgb(255 208 208 / 25%)
}

#main .calendar .bottom .dayDisplay .day:not(.selected):hover {
    background-color: rgb(255 208 208 / 10%);
}

/* Sunday and Saturday will have different background & border color */
#main .calendar .dayDisplay .day:not(.selected):is(:nth-child(7n + 6), :nth-child(7n + 7)):hover {
    background-color: rgba(201, 32, 32, 0.153);
}


#main .calendar .bottom .dayDisplay .day.selected .dayMarker {
    color: white;
}

#main .calendar .bottom .dayDisplay .day .dayMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 3;
    top: 3.85px;
    right: 2px;
}

#main .calendar .bottom .dayDisplay .day.today .dayMarker {
    border-radius: 50%;
    background-color: rgb(255, 94, 0);
    color: #FFFFFF;
}

#main .calendar .dayDisplay .day .ribbons {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: calc(100% - 27px);
    margin-top: 27px; /* Default margin-top to space from top of box */
}

/* Event Marker */
#main .calendar .dayDisplay .day .ribbons .eventRibbon {
    position: relative;
    width: 100%;
    height: 11%;
    color: white;
    display: flex;
    padding: 5px;
    margin: 0 9px;
    font-size: 15px;
    background-color: rgba(205, 205, 205, 0.1);
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
}

#main .calendar .dayDisplay .day .ribbons .eventRibbon:nth-child(2) {
    margin-top: 27px;
}


/* Replaced with Javascript class adding */
/* #main .calendar .dayDisplay .day .eventRibbon:hover {
    background-color: rgba(126, 126, 126, 0.64);
} */

#main .calendar .dayDisplay .day .eventRibbon.active {
    background-color: rgba(126, 126, 126, 0.64);
}

#main .calendar .dayDisplay .day .eventRibbon .indicator {
    min-width: 7px;
    min-height: 7px;
    width: 0.5vw;
    height: 0.5vw;
    margin-right: 3px;
    border-radius: 50%;
    background-color: rgb(255, 94, 0);
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(1) .indicator {
    background-color: rgb(255, 94, 0);
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(2) .indicator {
    background-color: rgb(72, 255, 0);
}

#main .calendar .dayDisplay .day .eventRibbon:nth-child(3) .indicator {
    background-color: rgb(0, 229, 255);
}

#main .calendar .dayDisplay .day .eventRibbon .title {
    flex: 1;
    /* overflow-x: hidden; */
    white-space: nowrap;
}

#main .calendar .dayDisplay .day .eventRibbon .time {
    color: rgb(168, 168, 168);
    margin-left: 3px;
}


#main .calendar .bottom .dayDisplay .day .events {
    height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#main .calendar .bottom .dayDisplay .day .events .item {
    width: 90%;
    font-family: "Gloria Hallelujah", cursive;
    background-color: red;
    display: flex;
}

#main .calendar .bottom .dayDisplay .day .events .item .marker {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

#main .calendar .bottom .dayDisplay .day .events .item .label {
    margin: 0 5px;
}

#main .calendar .bottom .dayDisplay .day .events .item .amount {
    color: rgb(219, 219, 219);
    justify-self: flex-end;
}

#main .calendar .bottom .dayDisplay .day .events .item.gym .marker {
    background-color: #7EBD8B;
}

#main .calendar .bottom .dayDisplay .day .events .item.gym .label {
    color: #7EBD8B;
}